@import url(https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39);
html{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#5db1ff,#e3fbff) no-repeat;
    background-image: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Oxanium', cursive;
}
body{
    margin:0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.pokedex{
    width: 26em;
    position: absolute;
    z-index: 0;
    display:flex;
    
}
#pokeId{
    background-color: #f0f0f0;
    position: absolute;
    z-index: 99;
    margin-top: 17em;
    width: 18.5em;
    margin-right: 2em;
    padding: 0.8em 0.6em;
    border-radius: 0.4em;
    border: solid 0.2em #141414;
    box-shadow: -0.25em 0.3em 0 #5f5f5f;
    font-family: 'Oxanium', cursive;
    font-weight: 600;
    font-size: 0.92em;
}
button{
    margin: 0.4em;
    width: 10em;
    position: relative;
    z-index: 99;
    width: 8.4em;
    height: 3.5em;
    font-family: 'Oxanium', cursive;
    font-weight: 600;
    font-size: 1em;
    background: #424242;
    color: #ffffff;
    border: solid 0.15em #1f1f1f;
    border-radius: 0.5em;
    top: 14.5em;
    box-shadow: -0.25em 0.3em 0 #2c2c2c;
    cursor: pointer;
}
button:hover{
    box-shadow: -0.25em 0.3em 0 #424242;
    background: #3d3d3d;
    transform: scale(95%);
    text-decoration: underline;
}
.buttons{
    position: absolute;
    margin-right: 2em;
}
#showUp{
    font-size: 1.4em;
    position: absolute;
    font-family: 'Oxanium', cursive;
    border: transparent;
    width: 12em;
    margin-top:4.3em;
    margin-right: 2em;
    text-align: end;
    font-weight: 600;
    color: #3d3d3d;
}

.idPoke_col{
    color: #999999;
}
#sprite{
    z-index: 99;
    display: flex;
    width: 14em;
    margin-bottom: 7.5em;
    margin-right: 2.2em;
    justify-content: center;
    border: transparent;
}
.sprite_img{
    height: 8.6em;
}